
* {
	padding: 0px;
	margin:  0px;
	box-sizing: border-box;
}

body {
	color: white;
}

nav {
	background-color: darkslateblue;
	width: 100%;
}

nav ul {
	list-style-type: none;
	display: inline;
	margin-left: 15px;
}

nav .nav {
	display: inline;
	font-family: Helvetica, monospace;
	margin-left: 5px;
	color: white;
	font-size: 1.5rem;

}

nav > h1 {
	color: white;
	font-family: 'Petit Formal Script', cursive;
		
}

.logo {
	margin-left: 10px;
}

.title {
	font-size: 2rem;
	display: inline;
}

.intro {
	height: auto;
	padding: 10px;
}

.box-container {
	border: 2px white solid;
	background-color: rgba(0, 0, 0, 0.65);
	background-size: auto, auto;
	padding: 60px;
	height: 80%px;
	margin-bottom: 30px;
}

.intro * {
	color: white;
	text-align: center;
	font-family: helvetica;
}

.intro-title {
	font-size: 2rem;
	margin-bottom: 10px;
}

.intro-text {
	font-size: 1.3rem;
	margin-top: 20px	;
}

.product {
	min-width: 300px;
	max-width: 300px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border: 1px solid white;
	border-radius: 	5%;
	padding: 25px 15px 25px 15px;
	align-items: center;
	margin: 20px 0px 20px 0px;
}

.product > h4 {
	align-self: flex-start;
	font-size: 1.8rem;
	margin-top: 10px;
}

.product > p {
	text-align: justify;
}

.product > img{
	max-height: 175px;
	max-width: 100%;
	min-height: 175px;
	min-width: 100%;
	position: relative;
	border-radius: 	5%;
}

.product > hr {
	width: 	100%;
	margin-top: 	3px;
	margin-bottom: 	7px;
		align-self: 	flex-start	;
}

.lineup {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: space-around;
	column-gap: 40px;
}

#products h1 {
	font-size: 2.5rem;
	font-family: helvetica;
	width: 100%;
	text-align: center;
	justify-content: center;
	margin: 30px 0px 30px 0px;
	color: white;

}

#bkgi {
	background-image: url('https://news.mit.edu/sites/default/files/download/201502/A1-MIT-Violin-Design.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 30px;
}

#pre-footer {
	background-color: darkslateblue;
	margin: 0px -30px 0px -30px;
	padding: 15px;
}

.prefoot-container > div {
	margin-right: 80px;
	padding: 10px;
	display: inline-flex;
	flex-direction: column;
}

.prefoot-container > div > ul {
	list-style-type: none;
}

.preflist {
	font-size: 18px;
}

.prefoot-container > div > h3 {
	margin-bottom: 3px;
	font-size: 1.5rem;
}
